[Unit]
Description=Defcoin daemon
After=network.target

[Service]
Type=forking
User=defcoin
PIDFile=/home/defcoin/.defcoin/defcoind.pid
ExecStartPre=-/bin/rm -f /home/defcoin/.defcoin/defcoind.pid
ExecStart=/usr/local/bin/defcoind -daemon -conf=/home/defcoin/.defcoin/defcoin.conf -datadir=/home/defcoin/.defcoin
ExecStop=/usr/local/bin/defcoin-cli -conf=/home/defcoin/.defcoin/defcoin.conf stop
Restart=on-failure
RestartSec=30
TimeoutStartSec=600
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
