[Unit]
Description=Run defcoin-seed-bootstrap every 20 minutes

[Timer]
OnCalendar=*:0/20
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
